<div class="card">
    <div class="card-header">Post #{{post._id}}</div>
    <div class="card-body">
        <a href="/posts" title="Back"><button class="btn btn-warning btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
        <a href="/posts/{{post._id}}/edit" title="Edit Post"><button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
        <form method="POST" action="/posts/{{post._id}}/delete" accept-charset="UTF-8" style="display:inline">
            <button type="submit" class="btn btn-danger btn-sm" title="Delete Post" onclick="return confirm('Confirm delete?')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </form>
        <br/>
        <br/>

        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>ID</th><td>{{post._id}}</td>
                    </tr>
                    <tr>
                        <th>Title</th><td>{{post.title}}</td>
                    </tr>
                    <tr>
                        <th>Content</th><td>{{post.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
