<div class="panel panel-default">
    <div class="panel-heading">Posts</div>
    <div class="panel-body">
        <a href="/posts/create" class="btn btn-success btn-sm" title="Add New Post">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New
        </a>

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>ID</th><th>Title</th><th>Content</th><th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{content}}</td>
                            <td>
                                <a href="/posts/{{id}}" title="View Post"><button class="btn btn-info btn-xs"><i class="fa fa-eye" aria-hidden="true"></i> View</button></a>
                                <a href="/posts/{{id}}/edit" title="Edit Post"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
                                <form method="POST" action="/posts/{{id}}/delete" accept-charset="UTF-8" style="display:inline">
                                    <button type="submit" class="btn btn-danger btn-xs" title="Delete Post" onclick="return confirm('Confirm delete?')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
